@import 'src/common/styles/theme'

.root
  padding: spacing(0, $header-lr-padding)
  background: palette(misc, background)
  z-index: 100
  position: sticky
  top: 0
  
  &.searchMode
    display: grid
    align-items: center
    grid-template-columns: 1fr max-content
    column-gap: spacing(4)
    justify-content: stretch

.nav
  display: flex
  justify-content: space-between
  gap: spacing(1)
  align-items: center
  width: 100%
  min-height: $header-height
  position: relative
  z-index: 100

  // background: linear-gradient(180deg, palette(misc, background-dark) 0%, palette(misc, background-dark) 70%, rgba(palette(misc, background-dark, true), 0) 100%)

.logo
  font-size: 2.5rem

.menuButton
  display: none
  font-size: 2rem
  margin-right: spacing(2)

.menu
  height: var(--app-height, 100vh)
  width: 100%
  position: absolute
  top: 0
  left: 0
  background: palette(misc, background)
  z-index: 50
  margin-top: $header-height-sm
  padding: spacing(6)
  font-size: 1.5rem
  @include bold
  
  .mobileLinks, .deadLinks
    display: flex
    justify-content: space-between
    border-top: 1px solid palette(misc, divider)
    padding: spacing(1, 0, 4)

  .deadLinks
    color: palette(text, secondary)

  .comingSoon
    font-size: 1rem
    @include normal

  

.links
  display: flex
  flex: 1
  padding: spacing(0, 8)
  align-items: center
  gap: spacing(4)

.actionButtons
  display: flex
  gap: spacing(4)
  width: max-content

  .actionButton
    display: flex
    align-items: center
    justify-content: center
    gap: spacing(1)

  .icon
    font-size: 1.75rem

@include bp-down('sm')
  .root
    padding: spacing(0, $header-lr-padding-sm)

    &.searchMode
      grid-template-columns: unset

  .nav
    min-height: $header-height-sm
    grid-template-columns: 1fr max-content

  .menuButton
    display: block

  .links
    display: none

  .logoWrapper
    flex: 1

  .logo
    font-size: 2rem

  .actionButtons
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 1fr
    
    .actionButton
      flex-direction: column
      font-size: 0.6rem

    .icon
      font-size: 1.5rem


