@use "sass:map"
@use 'src/assets/styles/theme'

.root
  max-width: map.get(theme.$breakpoints, 'xl')
  margin: 0 auto
  padding: theme.spacing(12, 12)
  display: grid

.title
  @include theme.bold
  font-size: 4rem
  margin-bottom: theme.spacing(12)

.filters
  display: flex
  gap: theme.spacing(2)
  margin: theme.spacing(8, 0)

  .toggleButton
    display: flex
    align-items: center
    border: .5px solid theme.palette(misc, divider)
    padding: theme.spacing(1, 2)

@include theme.bp-down('sm')
  .root
    display: block
    padding: theme.spacing(8, 0)

  .title
    padding: theme.spacing(0, 4)
    font-size: 3rem

  .filters
    padding: theme.spacing(0, 4)
    font-size: .8rem