@use 'src/assets/styles/theme'

$export-width: 400px
$export-padding-lr: 4
$img-width: 40px
$info-padding-lr: 2

.root
  position: fixed
  top: -9999
  left: -9999
  z-index: 100

.export
  display: grid
  width: $export-width
  grid-template-areas: 'track track' 'lyrics lyrics' 'img info' 'credits credits'
  grid-template-columns: $img-width 1fr
  padding: theme.spacing(6, $export-padding-lr)
  row-gap: theme.spacing(2)
  background-color: theme.palette(misc, background)

.lyrics
  padding: theme.spacing(2, 0, 4)
  grid-area: lyrics

.track
  grid-area: track
  @include theme.bold
  font-size: 1.5rem

.img
  grid-area: img
  width: 100%
  border-radius: theme.spacing(.5)
  align-self: center

.info
  grid-area: info
  padding: theme.spacing(0, $info-padding-lr)
  font-size: .75rem
  align-self: center

  *
    width: calc($export-width - theme.spacing($export-padding-lr*2) - $img-width - theme.spacing($info-padding-lr*2))
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.credits
  grid-area: credits
  font-size: 0.7rem
  color: theme.palette(text, secondary)