@use "sass:map"
@use 'src/assets/styles/theme'

$lyrics-indent: - theme.spacing(4)
  
.root
  margin: 0 auto
  padding: theme.spacing(0, 14)
  max-width: map.get(theme.$breakpoints, 'xl')
  position: relative
  display: grid
  grid-template-columns: max-content .75fr 1fr
  grid-template-areas: 'title title title' 'info info info' 'vr img lyrics'
  gap: theme.spacing(8) 5%

.title
  grid-area: title
  @include theme.bold
  font-size: 3rem
  margin-right: 20vw

.infosheet
  grid-area: info
  display: flex
  flex-wrap: wrap
  gap: theme.spacing(4)
  margin-bottom: theme.spacing(4)
  font-size: 0.8em
  
  dt
    @include theme.bold

  dd
    display: flex
    gap: theme.spacing(2)

.imgBorder
  grid-area: img
  align-self: flex-start
  width: 100%
  aspect-ratio: 1
  display: flex
  justify-content: center
  align-items: center
  background: theme.palette(misc, background-dark)
  position: sticky
  top: calc(theme.spacing(8) + theme.$header-height)

  .img
    width: 60%

  .albumName, .trackNo
    width: 100%
    position: absolute
    padding: theme.spacing(3)
    color: theme.palette(text, secondary)
    font-size: 0.8rem
  
  .albumName
    bottom: 0
    left: 0

  .trackNo
    bottom: 0
    right: 0
    text-align: right

.vr
  grid-area: vr
  display: flex
  border-left: 1px solid theme.palette(misc, divider)

  .name
    writing-mode: vertical-rl
    @include theme.bold
    font-size: 1rem
    border-left: 1px solid theme.palette(misc, background)
    /* Remove border */
    margin-left: -1px
    padding: theme.spacing(2, 0)
    align-self: flex-end

.lyrics
  grid-area: lyrics
  padding-left: theme.spacing(4)
  line-height: 1.5rem

  p
    text-indent: $lyrics-indent

  .shareLyrics
    transform: translateX($lyrics-indent)
    padding: theme.spacing(1, 2)
    margin-top: theme.spacing(6)
    display: flex
    align-items: center
    border: 1px solid theme.palette(misc, divider)
    transition: all .2s ease

    &:hover
      background: theme.palette(misc, background-dark)

    
@include theme.bp-down('md')
  .root
    column-gap: theme.spacing(4) 
    
  .imgBorder .img
    width: 70%

@include theme.bp-down('sm')
  .root
    margin: 0 0 theme.spacing(12)
    padding: 0
    display: block

    > *
      margin: theme.spacing(6, 4)

  .title
    padding: 0
    font-size: 2rem

  .imgBorder
    margin: 0
    top: 0
    position: relative
    aspect-ratio: 3/4

  .infosheet
    padding: 0
    row-gap: theme.spacing(2)

  .vr
    display: none

  .lyrics
    padding: theme.spacing(0, 4)