@use 'src/assets/styles/theme'
@use 'src/assets/styles/animations'
  
.root
  height: var(--app-height, 100vh)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: theme.palette(misc, background)
  z-index: 50
  margin-top: calc(theme.$header-height-sm + env(safe-area-inset-top))
  padding: theme.spacing(6)
  @include theme.bold
  font-size: 1.5rem
  
  &.mount
    animation: fadeIn .25s ease-in-out, slideInUp .25s ease-in-out

  &.unmount
    animation: fadeOut .25s ease-in-out, slideOutDown .25s ease-in-out
  
.links, .deadLinks
  display: flex
  justify-content: space-between
  border-top: 1px solid theme.palette(misc, divider)
  padding: theme.spacing(1, 0, 4)

.deadLinks
  color: theme.palette(text, secondary)

.comingSoon
  @include theme.normal
  font-size: 1rem