@use 'src/assets/styles/theme'

.root
  width: 400px
  max-height: 60vh
  padding: theme.spacing(2, 0)
  position: absolute
  top: calc(100% + theme.spacing(6))
  right: 0
  z-index: 50
  overflow-x: auto
  @include theme.dialog-box

.entry
  display: grid
  grid-template-columns: theme.spacing(16) 1fr
  gap: theme.spacing(1) theme.spacing(4)
  padding: theme.spacing(2, 4)
  cursor: pointer
  transition: background .2s ease-in-out

  &:hover
    background: theme.palette(misc, background-dark)

.lyrics
  color: theme.palette(text, secondary)
  font-size: .9em
  @include theme.overflow-textbox(2)

.highlight
  color: theme.palette(text, primary)
  @include theme.bold

.img
  width: 100%
  grid-row: 2 span
  align-self: center

.noResult
  padding: theme.spacing(2, 4)
  text-align: center
  color: theme.palette(text, secondary)


@include theme.bp-down('sm')
  .root
    top: calc(100% + theme.spacing(4))
    left: 50%
    transform: translateX(-50%)
    width: calc(100vw - 2 * theme.spacing(theme.$header-lr-padding-sm))
    font-size: .8rem

  .entry
    grid-template-columns: theme.spacing(12) 1fr
