@use "sass:map"
@use 'src/assets/styles/theme'

theme.$album-tile-width: 200px
theme.$album-tile-width-sm: 150px

.root
  display: grid
  grid-template-columns: repeat(2, minmax(0, 1fr))
  max-width: map.get(theme.$breakpoints, 'xl')
  margin-left: auto
  margin-right: auto
  padding: theme.spacing(0, 14)
  gap: theme.spacing(20)

.album, .artworks

  .title
    @include theme.bold
    font-size: 1.5rem
    margin-bottom: theme.spacing(8)

.album

  .trackList
    font-size: 1.5rem

    .track, .divider
      display: inline
      color: theme.palette(text, secondary)

    .track
      transition: color 0.2s ease-in-out

      &:hover
        color: theme.palette(text, primary)

      &.active
        @include theme.bold
        font-weight: 700
        color: theme.palette(text, primary)

  .backButton
    padding: theme.spacing(4, 0)
    margin-top: theme.spacing(4)
    display: flex
    align-items: center
    width: max-content

    .back
      /* Visual correction for alignment */
      transform: translateY(1px)
      transition: transform .2s ease

    &:hover .back
      transform: translateY(1px) translateX(- theme.spacing(2))

.artworks

  .otherAlbums
    margin: theme.spacing(4, 0)
    /* Scroll-bar padding */
    padding-bottom: theme.spacing(4)
    display: flex
    flex-wrap: no-wrap
    gap: theme.spacing(4)
    overflow: auto

    .otherAlbum
      cursor: pointer

    .imgBorder
      width: theme.$album-tile-width
      aspect-ratio: 1
      background: theme.palette(misc, background-dark)
      display: flex
      justify-content: center
      align-items: center

      .img
        width: 70%

    .name
      padding: theme.spacing(2, 0)
      max-width: theme.$album-tile-width
      @include theme.overflow-textbox(2)

      &.active
        @include theme.bold

@include theme.bp-down('md')
  .root
    display: block

    > *
      margin: theme.spacing(12, 0)

    .album .trackList
      font-size: 1.25rem

@include theme.bp-down('sm')
  .root
    display: block
    margin: theme.spacing(12, 4)
    padding: 0

  .album, .artworks

    .title
      margin-bottom: theme.spacing(4)

  .album

    .tracklist
      font-size: 1.25rem

    .backButton
      margin-top: theme.spacing(2)

  .artworks .name
    font-size: 0.9rem
