@import 'src/assets/styles/theme'

$tile-width: 200px
$tile-sm-width: 150px

.root
  display: grid
  grid-template-columns: repeat(2, minmax(0, 1fr))
  max-width: map-get($breakpoints, 'xl')
  margin: spacing(12) auto
  padding: spacing(0, 14)
  gap: spacing(20)

.album

  .title
    @include bold
    font-size: 1.5rem
    margin-bottom: spacing(8)

  .img
    width: 20%

  .tracklist
    font-size: 1.5rem

    .track, .divider
      display: inline
      color: palette(text, secondary)

    .track
      transition: color 0.2s ease-in-out

      &:hover
        color: palette(text, primary)

      &.selected
        @include bold
        font-weight: 700
        color: palette(text, primary)

.artworks

  .title
    @include bold
    margin-bottom: spacing(8)
    font-size: 1.5rem
    
  .otherAlbums
    margin: spacing(4, 0)
    /* scroll-bar padding */
    padding-bottom: spacing(4)
    display: flex
    flex-wrap: no-wrap
    gap: spacing(4)
    overflow: auto

    .otherAlbum
      display: flex
      flex-direction: column
      gap: spacing(1)
      cursor: pointer

    .imgBorder
      width: $tile-width
      aspect-ratio: 1
      background: palette(misc, background-dark)
      display: flex
      justify-content: center
      align-items: center

      .img
        width: 70%

    .albumName
      max-width: $tile-width
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      overflow: hidden

      &.current
        @include bold

@include bp-down('md')
  .root
    display: block

    .album
      margin: spacing(12 ,0)
    
      .tracklist
        font-size: 1.25rem

    .artworks
      margin: spacing(12, 0)



@include bp-down('sm')
  .root
    display: block
    margin: spacing(12, 4)
    padding: 0

  .album
    margin: spacing(12, 0)

    .title
      margin-bottom: spacing(4)
      
    .tracklist
      font-size: 1.25rem

  .artworks

    .title
      margin-bottom: spacing(4)

    .albumName
      font-size: 0.8rem
      
    