@import 'src/assets/styles/theme'

.root
  height: $footer-height
  display: flex
  justify-content: space-between
  align-items: center
  padding: spacing(0, 14)
  font-size: .8rem
  z-index: 100
  border-top: 1px solid palette(misc, background-dark)

  > *
    display: flex
    gap: spacing(1)
    align-items: center

.language
  gap: spacing(2)
  
  .locales
    display: flex
    gap: spacing(2)

    .locale
      opacity: .5
      transition: opacity .2s ease-in-out

      &:hover, &.active
        opacity: 1

.github
  padding: spacing(2)
  opacity: .5
  transition: opacity .2s ease-in-out
  
  &:hover
    opacity: 1

@include bp-down('sm')
  .root
    height: calc($footer-height-sm + env(safe-area-inset-bottom))
    padding: spacing(0, 4)
    padding-bottom: env(safe-area-inset-bottom)

  .globe
    display: none