@use 'theme'

.root
  padding: theme.spacing(12)

.header
  @include theme.bold
  font-size: 4rem

.messages
  padding: theme.spacing(4, 0)
  display: flex
  flex-direction: column
  gap: theme.spacing(2)
  color: theme.palette(text, secondary)

@include theme.bp-down('sm')
  .root
    padding: theme.spacing(8, 4)