@use 'theme'

.main
  flex: 1
  background: theme.palette(misc, background)
  min-height: calc(var(--app-height, 100vh) - theme.$header-height - theme.$footer-height)

@include theme.bp-down('sm')
  .main
    min-height: calc(var(--app-height, 100vh) - theme.$header-height-sm - theme.$footer-height-sm)