@use 'src/assets/styles/theme'
@use 'src/assets/styles/animations'

.root.enter
  animation: fadeIn .5s forwards ease, slideInDown .5s forwards ease

.imgBorder
  width: 100%
  aspect-ratio: 1
  display: flex
  justify-content: center
  align-items: center
  background: theme.palette(misc, background-dark)

  .img
    width: 70%

.name
  @include theme.overflow-textbox(2)
  padding: theme.spacing(0, 1)
  margin-top: theme.spacing(2)

.year
  color: theme.palette(text, secondary)
  font-size: .8em
  padding-left: theme.spacing(1)

@include theme.bp-down('sm')
  .name
    margin-top: theme.spacing(1)
    font-size: .8rem

  .year
    font-size: .6rem