@use 'src/assets/styles/theme'

.root
  scroll-margin-top: calc(theme.$header-height + theme.spacing(8))
  
  & + .root
    margin-top: theme.spacing(10)

.edition
  width: 100%
  font-size: 1.5rem
  @include theme.bold
  border-bottom: 1px theme.palette(misc, divider) solid
  margin-bottom: theme.spacing(6)
  padding-bottom: theme.spacing(2)

.albums
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(theme.$album-tile-width, 1fr))
  gap: theme.spacing(4) theme.spacing(2)

@include theme.bp-down('sm')
  .edition
    font-size: 1.25rem
    padding: theme.spacing(0, 4, 2)

  .albums
    grid-template-columns: repeat(2, 1fr)
    gap: theme.spacing(2) theme.spacing(1)